.mainBox {
  position: relative;
  display: flex;
}

.fabToggle {
  width: 40px !important;
  height: 40px !important;
  top: 15px;
  z-index: 1;
  right: -20px;
  position: absolute !important;
  background-color: var(--white) !important;
}

.drawer {
  z-index: 0;
}

.subListItem {
  padding-left: 32px !important;
  color: var(--secondary) !important;
}
