.partnership {
  min-width: 1300px;
}

.mnRow {
  display: flex;
}

.label {
  width: 100px;
  font-size: 14px;
  text-align: right;
  margin-right: 24px;
}

.addAttachmentContainer {
  margin: 30px 0 30px 25px !important;
}

.addAttachmentContainer .addAttachment {
  width: 320px;
  height: 45px;
  font-size: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(33, 131, 209, 0.08);
  border: 1px solid rgba(33, 131, 209, 0.5);
}

.addAttachmentIcon {
  margin-left: 10px !important;
}

.ptField {
  margin-left: 20px !important;
  min-width: 290px !important;
}

.marginSection {
  width: 100%;
  display: flex;
}
