.attachmentContainer {
  display: flex !important;
}

.addAttachmentContainer {
  margin: 30px 0 30px 25px !important;
}

.label {
  width: 100px !important;
  font-size: 14px !important;
  text-align: right !important;
  margin-right: 24px !important;
}

.attachmentContainer .addAttachment {
  width: 320px;
  height: 45px;
  font-size: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(33, 131, 209, 0.08);
  border: 1px solid rgba(33, 131, 209, 0.5);
}

.addAttachmentIcon {
  margin-left: 10px !important;
}

.attachmentContainer .helperText {
  margin: 8px 0 2px 5px;
}

.attachmentContainer .helperDefault {
  margin-top: 30px;
}

.ptField {
  margin-left: 20px !important;
  min-width: 290px !important;
}

.marginSection {
  width: 100%;
  display: flex;
}

.cloudIcon {
  margin-left: 10px;
}

.filesSection {
  width: 600px;
  margin-left: 20px;
}

.chip {
  margin-bottom: 5px;
}

.input {
  display: none;
}
