.accordionBox div {
  justify-content: space-between !important;
}

.accordionBox:hover {
  background-color: var(--midGrey) !important;
  cursor: unset !important;
}

.paymentBox {
  display: flex;
}

.noDataBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.noData {
  margin: 12px;
}

.historyTable {
  min-width: 650px;
}

.attachmentTableCell {
  display: flex !important;
  align-items: center;
}

.uploadBtn {
  display: flex;
  align-items: flex-start;
  width: 125px;
}

.invoiceIdInput {
  min-width: 148px !important;
}

.priceInput {
  min-width: 150px !important;
}

.dateInput {
  min-width: 150px !important;
}

.typeInput {
  min-width: 106px !important;
}

.uploadInput {
  display: none;
}
