/* Accordions */

.accordion {
  border: 1px solid var(--midLightGrey);
  box-shadow: none !important;
}

.accordionSummary {
  background-color: var(--midGrey) !important;
  border-bottom: 1px solid var(--midLightGrey) !important;
}

.accordionSummary:hover {
  background-color: var(--midLightGrey) !important;
}

.accordionSummary div {
  align-items: center;
}

.accordionDetails {
  background-color: var(--midGrey) !important;
}

.detailsTxt {
  font-size: 20px !important;
  color: var(--darkGrey);
  font-weight: 500 !important;
}

.detailsCount {
  color: var(--secondary);
}

.panelImg {
  margin-right: 10px;
}

.primaryColor {
  color: var(--primary);
}

/* DatePicker */
.dueDatePicker > div > div {
  height: 40px;
}
