/* Add Room */
.dialogAction {
  margin-top: 40px;
}

/* Card View */
.cardActions {
  margin-bottom: 12px;
}

.cardActions.rightAligned {
  display: flex;
  justify-content: flex-end;
}

.cardViewContainer {
  min-width: 600px;
  padding-bottom: 5px;
}

.viewDialogTitle {
  display: flex;
  padding-top: 24px;
  padding-bottom: 27px;
  justify-content: space-between;
}

.viewDialogTitle .dialogTitle {
  font-size: 24px;
}

.label {
  opacity: 0.6;
}

.viewTitle {
  padding-top: 10px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Details */

.header {
  height: 79px;
  display: flex;
  justify-content: space-between;
}

.headerActions {
  color: rgba(0, 0, 0, 0.54);
}

.headerDeleteBtn{
  margin-right: 41px;
  margin-left: 21px;
}

.infoItem {
  display: flex;
  margin-bottom: 3px;
}

.detailsIcon {
  margin-right: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.itemBlock {
  margin-bottom: 16px;
}


.dialogMenu {
  width: 100%;
}

.partnershipDetailsSection .detailsServiceBtns,
.mainInfo .detailsServiceBtns {
  border-radius: 16px;
  text-transform: capitalize;
  margin-right: 7px;
  margin-bottom: 10px;
  height: 30px;
  cursor: inherit;
}

/* Rooms */

.card {
  width: 275px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.cardActions {
  text-align: right;
}

.cardQuantity {
  font-size: 14px;
  margin-bottom: 8px;
}

.card .cardBeds {
  font-size: 14px;
  margin-bottom: 12px;
}

.card .cardTitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

.card .cardPrice {
  font-size: 16px;
}

.card .cardDetailsBtn {
  font-size: 14px;
  margin: 11px 14px;
  color: rgba(0, 0, 0, 0.87) !important;
}

.roomsTabPanel,
.driversTabPanel,
.carsTabPanel
{
  padding: inherit !important;
}

.roomsSection,
.driversSection,
.carsSection
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.headerMenu {
  margin-bottom: 20px;
}

/* Partnership */

.partnership .partnershipDetailsSection {
  display: flex;
  align-items: center;
}

.partnershipSectionTitle {
  margin-bottom: 16px !important;
}

.partnershipSectionBlock{
  margin-right: 25px;
}

.datesSection {
  display: flex;
  margin-bottom: 5px;
}

.calendarIcon {
  color: rgba(0, 0, 0, 0.54);
  margin-right: 15px;
}

/* Filter */

.filterHeader .resetBtn {
  margin-right: 60px;
  padding: 8px 22px;
  font-width: 500;
  line-height: 26px;
  font-size: 15px;
}

.container {
  border-left: 4px solid #2183d1;
}

.timeBlock {
  margin: 2px -6px !important;
}

.dashedBorder {
  margin: 20px 0;
  border-bottom: 1px dashed grey;
}

.roomTitle {
  font-size: 12px !important;
  margin-bottom: 20px !important;
}

.roomType {
  width: 251px;
}

.roomQuantity {
  width: 118px;
}

.roomPrice {
  width: 151px;
}

.beds {
  width: 159px;
}

.input {
  margin-bottom: 20px !important;
}

.textFields {
  color: var(--secondary) !important;
}

.carBlock {
  margin: 2px 0px !important;
}
