.tableCell {
  min-width: 140px !important;
}

.boldCell {
  font-weight: 600 !important;
}

/* Table Cell styles */
.negativeTableCell {
  color: var(--error) !important;
}

.positiveTableCell {
  color: var(--success) !important;
}

.neutralTableCell {
  color: var(--secondary) !important;
}
