.cardImg {
  height: 16px;
}

.accordionBox div {
  justify-content: space-between !important;
}

.paymentCommonBox {
  display: flex;
}

.paymentBox {
  display: flex;
}

.noDataBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noData {
  margin: 12px;
}
