.img-wrapper {
  border-radius: 10px;
  background: #c4c4c4;
}

.placeholder {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
}

.img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
