.mainDiv {
  display: flex;
  align-items: baseline;
  margin: 10px 0;
  flex-wrap: wrap;
}

/* Search */

.searchDiv {
  height: 40px;
  width: 353px;
  margin: 10px 20px 10px 0;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  border: 1px solid var(--midDarkGrey);
  box-sizing: border-box;
  border-radius: 4px !important;
  box-shadow: none !important;
}

.searchInput {
  margin-left: 8px;
  flex: 1;
}

.searchIcon {
  padding: 10px;
}

/* Filter */

.filterDiv {
  margin-right: 20px;
}

.filterDiv button {
  min-width: 100px;
}

/* Options */

.optionsDiv {
  margin-right: 20px;
}

.optionsDiv button {
  min-width: 173px;
}
