.accordionBox div {
  justify-content: space-between !important;
}

.paymentBox {
  display: flex;
}

.noDataBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.noData {
  margin: 12px;
}

.historyTable {
  min-width: 650px;
}

.price > div {
  display: flex;
  align-items: baseline;
}

.attachmentTableCell {
  display: flex !important;
  align-items: center;
}

.historyCell {
  max-width: 150px;
}

.uploadBtn {
  display: flex;
  align-items: flex-start;
}

.uploadInput {
  display: none;
}
