.container {
  background-color: var(--lightGrey);
  padding: 32px 48px 0;
  height: 100%;
}

.toolbar {
  background: rgba(231, 235, 239, 0.5);
  box-shadow: 0 1px 0 rgba(0 0 0, 0.1);
  border-radius: 4px 4px 0 0;
  min-height: 36px !important;
  height: 36px;
  padding-left: 16px !important;
}

.table {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.tableContainer {
  width: 100%;
}
