.ctField {
    margin-bottom: 25px !important;
    max-width: 400px;
}

.uploadImageContainer {
    width: 232px;
    height: 232px;
    cursor: pointer;
    border: 1px solid;
}

.errorMessageColor {
    color: #f50057;
}

.previewImage {
    width: 232px;
    height: 232px;
}