.create-tour-modal .create-tour-container {
    width: 800px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    background-color: #FFFFFF;
    padding: 20px;
}

.create-tour-modal .create-tour-container .guests-container {
    width: 60%;
    margin: 10px auto;
}

.create-tour-modal .create-tour-container .bottom-actions {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.create-tour-modal .create-tour-container .guest-bottom-actions {
    display: flex;
    justify-content: flex-end;
}

.create-tour-modal .create-tour-container .tour-details-heading {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.create-tour-modal .create-tour-container .tour-details-top-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.create-tour-modal .create-tour-container .notes {
    padding-bottom: 20px;
}

.create-tour-modal .create-tour-container .notes .MuiFormControl-root.MuiTextField-root {
    width: 100%;
}

.create-tour-modal .create-tour-container .tour-details-top-block .tour-details-left-block {
    padding: 0 5px;
    width: 48%;
}

.create-tour-modal .create-tour-container .tour-details-top-block .tour-details-right-block {
    display: flex;
    justify-content: space-between;
    width: 48%;
}

.create-tour-modal .create-tour-container .tour-details-top-block .tour-details-right-block .MuiFormControl-root.MuiTextField-root {
    width: 100%;
    height: 100%;
}

.create-tour-modal .create-tour-container .tour-details-top-block .tour-details-right-block .MuiInputBase-formControl.MuiInputBase-multiline {
    width: 100%;
    height: 100%;
}

.create-tour-modal .create-tour-container .form-field {
    margin: 10px 0;
}

.create-tour-modal .create-tour-container .form-pair-fields {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.create-tour-modal .create-tour-container .date-fields {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.create-tour-modal .create-tour-container .date-fields .form-inline-field {
    width: 49%;
}

.create-tour-modal .create-tour-container .form-field .MuiFormControl-root {
    width: 100%;
}
