.actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  padding: 0 44px;
  background-color: #fff;
  flex-grow: 1;
  margin: 0 -40px -24px -40px;
}

.deactivate {
  display: flex;
  gap: 8px;
  color: #E31B0C;
}

.btns-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}