@import '../../../../../styles/colors.css';

.tableContainer {
  max-height: 680px;
}

.tableHead,
.tableRow {
  height: 56px !important;
}

/* sticky table head */
.tableHead {
  background-color: var(--midGray) !important;
  position: sticky !important;
  top: 0;
  z-index: 1;
}

.tableBody {
  font-weight: 400;
}

.tableHeaderCell {
  font-weight: 600 !important;
}

.tableCheckboxCell {
  padding-left: 3px !important;
}

.tableCell {
  width: 140px !important;
}

.tooltip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}
