.tableContainer {
  overflow-y: auto;
  background-color: var(--midGrey) !important;
}

.mainTableBox {
  height: 77vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: block !important;
  background-color: var(--white);
}

.hiddenOverflow {
  overflow: hidden !important;
}

.tableHead,
.tableRow {
  height: 56px !important;
  display: table !important;
  width: 100%;
  background-color: var(--white);
  /*table-layout: fixed;*/
}

.tableStickyBox {
  width: calc(100% - 1em);
  background-color: var(--midGrey) !important;
  display: block !important;
}

.totalFooter {
  height: 43px;
  display: table !important;
  width: 100%;
  /*table-layout: fixed;*/
}

.totalFooter .tableCell,
.totalFooter .tableCellCheckbox {
  font-weight: 600;
}

.totalFooterChkBox {
  visibility: hidden;
}

.noData {
  width: 80vw;
  margin: 4vw 7vw;
}

/* sticky table head */
.tableHead {
  background-color: var(--midGrey) !important;
  position: sticky !important;
  top: 0;
  z-index: 1;
  width: calc(100% - 1em);
}

.tableBody {
  font-weight: 400;
}

.tableHeaderCell {
  font-weight: 600 !important;
}

.tableCheckboxCell {
  padding-left: 3px !important;
}

.tableCell {
  min-width: 140px !important;
}

.tableFooter {
  display: flex;
  justify-content: space-between;
}

.toolbar {
  min-height: inherit !important;
}

.toolbar .selectedCountText {
  color: var(--secondary);
  font-size: 14px;
}

.toolbar .selectedCountNum {
  font-size: 16px;
}

.tablePagination {
  display: flex;
}

.tablePaginationText {
  color: var(--secondary);
}

.attachmentImg {
  margin-top: 10px;
  color: var(--secondary);
}

/* Table Cell styles */
.negativeTableCell {
  color: var(--error) !important;
}

.positiveTableCell {
  color: var(--success) !important;
}

.neutralTableCell {
  color: var(--secondary) !important;
}

/* Table Cell Statuses */
.statusChip {
  height: 27px !important;
}

.whiteTableCell {
  background-color: var(--white) !important;
}

.canceledPayableStatus {
  background-color: var(--midLightGrey) !important;
  color: var(--secondary) !important;
  border: 1px solid var(--secondary) !important;
}

.loadingSpinner {
  margin: 4vw 43vw;
}
