.editableFields {
  display: flex;
  justify-content: space-between;
}

.actualCostControl {
  width: 25.3vw;
}

.dueDatePickerInput > div > div {
  width: 25.3vw;
}

.dueDatePickerInput > div > label {
  top: -6px;
}

.datePickerLblFocused {
  top: 0 !important;
}
