@import '../../styles/colors.css';

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.imgIcon {
  text-align: center;
  width: 40px;
}

.textContent {
  margin: 20px 0 5px;
  font-size: 14px;
  color: var(--secondary);
}
