.wrapper {
  margin-bottom: 8px;
}

.validationField {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 8px;
}

.success {
  color: #4caf50;
  fill: #4caf50;
}
