.container {
  padding: 40px 120px 0 70px;
}

.calendarContainer {
  margin: 40px 96px 0 55px;
}

/* Tour Info */

.tourInfo {
  max-width: 930px;
  min-width: 700px;
  min-height: 600px;
}

.mnRow {
  display: flex;
}

.helper {
  margin-bottom: 20px !important;
}

.label {
  width: 150px;
  font-size: 14px;
  text-align: right;
  margin-right: 24px;
}
