.header {
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid grey;
}

.user {
  display: flex;
  align-items: center;
}

.user .avatar {
  font-size: 16px;
}

.notification {
  margin-right: 10px;
  color: grey;
}
