/* Add accommodation styles*/

.container {
  padding: 40px 120px 0;
}

/* Main Info */

.mainInfo {
  max-width: 930px;
  min-width: 700px;
  min-height: 650px;
}

.mnRow {
  display: flex;
}

.label {
  width: 100px;
  font-size: 14px;
  text-align: right;
  margin-right: 24px;
}

.map {
  padding: 0;
  border: none;
  color: black !important;
  font-weight: bold;
}

/* Rooms*/

.roomContent {
  margin-right: 234px;
}

/* Contact */

.ctField {
  margin-bottom: 25px !important;
  max-width: 400px;
}

.outline {
  border-color: red !important;
}

/* Partnership */

.addAttachmentContainer {
  margin: 30px 0 30px 25px !important;
}

.addAttachmentContainer .addAttachment {
  width: 320px;
  height: 45px;
  font-size: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(33, 131, 209, 0.08);
  border: 1px solid rgba(33, 131, 209, 0.5);
}

.addAttachmentIcon {
  margin-left: 10px !important;
}

.ptField {
  margin-left: 20px !important;
  min-width: 290px !important;
}

.marginSection {
  width: 100%;
  display: flex;
}

