.subBox {
  position: relative;
  display: flex;
  min-height: 91.4vh;
  margin-top: 2px;
}

.main {
  overflow-x: auto;
  margin-top: 78px;
}

.mainContent {
  /*margin-top: 78px;*/
}

.hiddenOffset {
  height: 78px;
}
